<div class="image-page">
  <div class="side-panel">
    <form class="image-form" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="keywords">Keywords</label>
        <input
          type="text"
          id="keywords"
          name="keywords"
          [(ngModel)]="keywords"
          maxlength="30"
          placeholder="Add comma separated keywords"
          required
        />
      </div>
      <button type="submit" class="submit-btn" [disabled]="isLoading">
        <mat-spinner *ngIf="isLoading" diameter="20" class="spinner-btn"></mat-spinner>
        <span *ngIf="!isLoading">Generate</span>
      </button>
    </form>

        <div class="saved-images">
      <h3 class="saved-images-header">Saved Images</h3>
      <div class="image-card" *ngFor="let saved of savedImages">
        <div class="card-content">
          <!-- Clickable image prompt -->
          <div class="saved-image-clickable" (click)="loadSavedImage(saved)">
            {{ saved.prompt.length > 40 ? (saved.prompt | slice:0:40) + '...' : saved.prompt }}
          </div>

          <!-- Delete button -->
          <button mat-icon-button (click)="deleteSavedImage(saved)" aria-label="Delete Recipe" class="delete-icon-btn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="main-content">
    <h2 class="image-header">Generate Random AI Image</h2>
    <div class="image-container">
      <button
        *ngIf="imageUrl && !isLoading"
        class="download-btn"
        (click)="downloadImage()"
        aria-label="Download Image"
      >
        <span class="material-icons">download</span>
      </button>
      <div class="image-wrapper">
        <mat-spinner *ngIf="isLoading" diameter="48" class="center-spinner"></mat-spinner>
        <img
          *ngIf="imageUrl"
          [src]="imageUrl"
          alt="AI Generated"
          [class.loading]="isLoading"
          (load)="onImageLoad($event)"
          width="1024"
          #aiImage
        />
      </div>
      <div class="image-description" *ngIf="imageDescription">
        {{ imageDescription }}
      </div>
    </div>
  </div>
</div>